@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using PugTrace.Dashboard
@inherits RazorPage<Pager>

<div class="btn-toolbar-label btn-toolbar-label-sm pull-left" style="margin-left: 5px;">
    Filter by type:
</div>
<div class="btn-toolbar-spacer pull-left"></div>
<div class="btn-group pull-left">
    @Html.Link("All", Model.TypeFilterUrl(null), "btn btn-sm btn-default", Model.TypeFilter == null)
    @Html.Link("Information", Model.TypeFilterUrl("Information"), "btn btn-sm btn-default", Model.TypeFilter == "Information")
    @Html.Link("Critical", Model.TypeFilterUrl("Critical"), "btn btn-sm btn-default", Model.TypeFilter == "Critical")
    @Html.Link("Error", Model.TypeFilterUrl("Error"), "btn btn-sm btn-default", Model.TypeFilter == "Error")
    <button id="search-button" class="btn btn-sm btn-default">Search</button>
</div>

<script>
    var searchButton = document.getElementById('search-button');
    searchButton.onclick = function () {
        var searchBar = document.getElementById('search-bar');
        if (searchButton.classList.contains("btn-success")) {
            searchButton.classList.remove('btn-success');
            searchBar.classList.add('hide');
        } else {
            searchButton.classList.add('btn-success');
            searchBar.classList.remove('hide');
        }
    }
</script>