@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using PugTrace.Dashboard
@inherits RazorPage<Pager>

<div id="itemsPerPage">
    <div class="btn-group pull-right paginator">
        @foreach (var count in new[] { 100, 500 })
        {
            @Html.Link(count.ToString(), Model.RecordsPerPageUrl(count), "btn btn-sm btn-default", count == Model.RecordsPerPage)
        }
    </div>
</div>