@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using PugTrace.Dashboard
@inherits RazorPage<Pager>

<div class="container-fluid">
    <form method="get">
        <div class="row">
            <div class="col-md-2 form-group">
                <label>Find from:</label>
                <input id="search-from" type="date" class="form-control" name="from" value="@Model.GetFromTime()" />
            </div>
            <div class="col-md-2 form-group">
                <label>Find to:</label>
                <input id="search-to" type="date" class="form-control" name="to" value="@Model.GetToTime()" />
            </div>
            <div class="col-md-2 form-group">
                <label>Message contains:</label>
                <input id="search-value" type="text" class="form-control" name="val" value="@Model.GetSearchValue()" />
                <input type="hidden" name="type" value="@Model.GetFilterType()" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default" style="margin-top: 25px;">Search</button>
            </div>
        </div>
    </form>
</div>

<script>
    var searchButtonOn = document.getElementById('search-button-on');
    var searchButtonOff = document.getElementById('search-button-off');

    var searchValue = document.getElementById('search-value').value;
    if (searchValue != "") {
        searchButtonOn.classList.add('hide');
        searchButtonOff.classList.remove('hide');
        document.getElementById('search-bar').classList.remove('hide');
    }
</script>