@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using PugTrace.Dashboard
@inherits RazorPage<DataRow>
<tr>
    <td>@Model.Key</td>
    <td style="overflow: auto;">
        @Html.RenderValue(Model.Value)
    </td>
</tr>