@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using PugTrace.Dashboard
@inherits RazorPage<DataObject>
<div class="table-responsive" style="margin-bottom: 20px;">
    <table class="table table-striped table-bordered table-condensed" style="margin-bottom: 0;">
        <thead>
            <tr class="success">
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var row in Model.Rows)
            {
                @Html.DataRow(row)
            }
            @foreach (var obj in Model.Objects)
            {
                <tr>
                    <td colspan="2" class="info"><strong>@obj.Key</strong></td>
                </tr>

                foreach (var item in obj.Rows)
                {
                    @Html.DataRow(item)
                }
            }
        </tbody>
    </table>
</div>