#search-bar {
    margin-top: 10px;
}

.detail.hide {
    display: none;
}

.detail td {
    border-top: none !important;
}

.detail dl {
    margin-bottom: 10px;
}

.navbar-default .navbar-brand .logo {
    margin-top: 7px;
    height: 36px;
    width: 36px !important;
    background-image: url(img/logo);
}

.trace .parameter {
    color: #c09853;
}

.trace.error td {
    background-color: #f2dede;
}
