html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

.navbar-brand {
    padding: 7px 15px;
}

.navbar-brand > img.logo {
    display: inline-block;
    margin-right: 10px;
}